<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQ_RimVe2oYOYP7FxU58oxRFGgsc-0G9c</string>
	<key>GCM_SENDER_ID</key>
	<string>105535173433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tubes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tubes-8471c</string>
	<key>STORAGE_BUCKET</key>
	<string>tubes-8471c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105535173433:ios:a77b7dfc93e7a3d0392ee8</string>
</dict>
</plist>